# copy the token from the discord application page (bots > reset token)
BOT_TOKEN=

# the discord user id to observe
USER_ID=

# tuya api credentials, found on the project page
TUYA_ACCESS_ID=
TUYA_KEY=

# the device id to control, found on your account's devices page
TUYA_DEVICE_ID=

# can reduce brightness overall to avoid being overpowering
BRIGHTNESS_SCALE=1.0

# adjust color channels to fix biases in your bulb
RED_SCALE=1.0
GREEN_SCALE=1.0
BLUE_SCALE=1.0
